.page_wrap .control_panel
  width: 250px
  z-index: 20
  background-color: tint($black, 10%)
  .control_panel_position
    position: fixed
    top: 0
    left: 0
    bottom: 10px
    display: flex
    flex-direction: column
    //justify-content: space-between
    .logo
      width: 250px
      background-color: $red
      text-align: center
      code
        margin: 0
        color: $bluegrey
        font:
          size: 2em
          //family: $round
          //weight: 100
        //text-transform: uppercase
        letter-spacing: .2em
        line-height: 5
        padding: 0
    nav.sidebar
      margin-top: 20px
      li
        font:
          family: $round
          weight: 100
          size: .8em
        list-style: none
        letter-spacing: .2em
        padding: 10px 0
        border-bottom: 1px solid $black
        a
          display: block
          color: $bluegrey
          padding-left: 20px
          transform: none
          transition: all .2s ease-in-out
          &:hover
            color: $white
            transform: matrix(1,0.05,0,1,0,0)
    .footer
      position: fixed
      padding-left: 20px
      bottom: 10px
      h6
        font:
          family: $square
          size: .5em
        text-transform: uppercase
        a
          display: block
          color: $bluegrey
          transition: ease-in-out .4s
          &:hover
            color: $white
