.control_panel
  .control_panel_position
    .logo
      %code [bcknd]$
    %nav.sidebar
      %li
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Pages
      %li
        %a{:href => "#"} Files
      %li
        %a{:href => "#"} Settings
      %li
        %a{:href => "#"} Help
    .footer
      %h6
        %a{:href => "#"} Buy&middot;Woodrow&middot;Sell
